button {
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    padding: 0.3em 0.9em 0.3em 0.9em;
    min-height: 2.5em;

    &.primary {
        color: #fff;
        background-color: var(--primary);

        &:focus {
            box-sizing: border-box;
            outline: 1px solid #fff;
            outline-offset: -3px;
        }
        &:active {
            background-color: var(--primary-dark);
            outline: none;
            transform: scale(.98);
        }
        &:hover {
            background-color: var(--primary-twilight);
            outline: none;
        }
    }

    &[type="submit"] {
        min-width: 7.71em;
    }

    &:disabled {
        background-color: var(--primary-neutral);
        color: var(--grey);
    }
}
