button {
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    padding: 0.3em 0.9em 0.3em 0.9em;
    min-height: 2.5em;

    &.primary {
        color: #fff;
        background-color: var(--primary);

        &:focus {
            box-sizing: border-box;
            outline: 1px solid #fff;
            outline-offset: -3px;
        }
        &:active {
            background-color: var(--primary-dark);
            outline: none;
            transform: scale(0.98);
        }
        &:hover {
            background-color: var(--primary-twilight);
            outline: none;
        }
    }

    &.danger {
        color: #fff;
        background-color: var(--danger);

        &:focus {
            box-sizing: border-box;
            outline: 1px solid #fff;
            outline-offset: -3px;
        }
        &:active {
            background-color: var(--danger-dark);
            outline: none;
            transform: scale(0.98);
        }
        &:hover {
            background-color: var(--danger-twilight);
            outline: none;
        }
    }


    &.transparent {
        background-color: transparent;

        &:hover {
        }
    }

    &.navigate {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &.anchor {
        display: flex !important;
        justify-content: flex-start !important;
        background-color: transparent !important;
        min-height: auto!important;
        font-weight: 600;
        color: #501792;
        text-decoration: none;
        font-size: 0.8rem;
        margin: 0;
        line-height: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &[type="submit"] {
        min-width: 7.71em;
    }

    &:disabled {
        background-color: var(--primary-neutral);
        color: var(--grey);
    }
}
