.login-page {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: fixed;
        top: -5vh;
        bottom: -5vh;
        left: -5vw;
        right: -5vw;
        z-index: -1;
        width: 110vw;
        height: 110vh;
        background-image: url(../../assets/images/login-bg-default.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(10px);
    }

    .login-box {
        background-color: #fff;
        max-width: 350px;
        min-width: 300px;
        width: calc(100% - 2em);
        min-height: 280px;
        padding: 2em;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        color: var(--darker);

        .login-header {
            flex: 1;
            .logo-url-action {
                img {
                    height: 1.5em;
                }
            }
        }
        .login-content {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .input-username {
                h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            .create-account,
            .help {
                padding-bottom: 1em;
                a {
                    text-decoration: none;
                    color: var(--primary);

                    &.a-link {
                        margin-left: 0.5em;
                    }
                }
            }
            .to-password {
                justify-self: flex-end;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }

    .help-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.5em 0.8em;
        display: flex;
        justify-content: flex-end;

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 2.5em;
            content: "";
            background-color: rgba(255, 255, 255, 0.25);
            filter: blur(8px);
            z-index: -1;
        }

        a {
            margin-left: 1em;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 550;
            color: var(--darker);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
