* {
    --primary: #0067b8;
    --primary-twilight: #106ebe;
    --primary-dark: #005a9e;
    --primary-neutral: #f3f2f1;
    --grey: #A19F9D;
    --darker: #1b1b1b;
    --danger: #D83B01;
    --danger-twilight: #f14202;
    --danger-dark: #b83100;
}
